// Components :: Navbar Item

// Dependencies
@import "pack/seed-breakpoints/_index";
@import "pack/seed-publish/_index";
@import "../config";

@include export(seed-navbar) {
  .#{$seed-navbar-item-namespace} {
    box-sizing: border-box;
    display: block;
    // Modifiers
    &--left {
      @include breakpoint-all() {
        margin-right: auto;
      }
    }
    &--right {
      @include breakpoint-all() {
        margin-left: auto;
      }
    }
  }
}
